<!DOCTYPE html>
{% load staticfiles %}



<html>
	
	<head>
		<title>Rango</title>
	</head>

	<body>
		<h1>Rango says...</h1>
		<div>
			hey there partner! <br/>
			<strong>{{ boldmessage }}</strong>
		</div>

		<div>
			<h3> Most Liked Categories</h3>
			<p>

				{% if categories %}
					<div class='list-group'>
						{% for category in categories %}
							<div class='list-group-item'
							
							><li>
							<a href="/rango/category/{{ category.slug }}/">{{ category.name }}</a>
								<span class="bubble">{{ category.likes }}</span>
							</div>
							</li>
						{% endfor %}
					
					</div>
				{% else %}
					<strong>There are no categories present.</strong>
				{% endif %}
			</p>
		</div>

		<div>
			<h4> Most Viewed Pages</h4>
			<p>
				{% if pages %}
					<div class='list-group'>
					
						{% for page in pages %}
							<div class='list-group-item'>
								
								<li>
								<a href="/rango/page/{{ page.url }}/">{{ page.title }}</a>
									<span class='bubble'>{{ page.views }}</span>
								</li>

												
						{% endfor %}
						
					</div>
				{% else %}
					<strong>There are no categories present.</strong>
				{% endif %}
			</p>
		</div>

				

		<div>
			<a href="/rango/about">About</a><br />
			<a href="/rango/add_category/">Add a New Category</a><br />
			<img src="{% static "images/rango.jpeg" %} class = "rango" 
				alt="Picture of Rango" />
		</div>
	</body>
</html>